<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header class="mt4 pv2 ph4 bg-yellow flex items-center justify-between">
    <h1 class="f2">
      <a class="mid-gray" href="/">Freeshelf</a>
    </h1>
    <div>
      {% if request.user.is_authenticated %}
      Logged in as {{ request.user }} | <a href="{% url 'auth_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'auth_login' %}">Login</a> |
      <a href="{% url 'registration_register' %}">Register</a>
      {% endif %}
    </div>
  </header>
  <nav id="category-nav" class="flex items-center">
    <div>
      Books by category:
    </div>
    <ul class="list ml1 pa0 flex flex-wrap">
      <li class="mr2 pr2 bw1 br"><a href="#">CSS</a></li>
      <li class="mr2 pr2 bw1 br"><a href="#">HTML</a></li>
      <li class="mr2 pr2 bw1 br"><a href="#">JavaScript</a></li>
      <li class="mr2 pr2 bw1 br"><a href="#">Python</a></li>
      <li class=""><a href="#">R</a></li>
    </ul>
  </nav>
  <div class="col-sm-10 ">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>